apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # Use Let's Encrypt production endpoint
    server: https://acme-v02.api.letsencrypt.org/directory
    email: donna.nyacuru@digitalqatalyst.com  
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
    - http01:
        ingress:
          class: nginx
